body {
  box-sizing: border-box;
}

header {
  height: 12vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header > h1 {
  width: 60vw;
  min-width: 10em;
  margin: 0 auto;
  text-align: center;
}

header > h4 {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.25em;
}

section {
  display: none;
  overflow-y: scroll;
}

section.active {
  background-color: #eee;
  padding: 2em;
  overflow-y: scroll;

  height: 70vh;
  width: 60vw;
  margin: 0 auto;

  display: block;
}

section > p {
  background-color: #ddd;
  padding: 1em;
}

form {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
}

input {
  display: inline-block;
  margin-bottom: 1em;
}

input[type="radio"], input[type="checkbox"] {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0.5em;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: .2em;
}

button {
  display: block;
  width: 20vw;
  margin: 0 auto;
  height: 5vw;
  min-height: 2.5em;
}

.testBeginButton {
  margin: 175px auto;
}

footer {
  height: 5vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

ol {
  margin: 2em auto;
}

.participantID {
  width: 3em;
  padding: 0.2em;
}

.answerText {
  margin-left: 0.5em;
}

div.ans {
  display: block;
  margin-bottom: .25em;
}

span.ans {
  display: inline-block;
  margin-left: .25em;
}

#btn-2-msg {
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 1em;
}

.imageContainer {
  margin: 1em;
  text-align: center;
}

.image {
  width: 100%;
}

#currentBuilding {
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 0.1s;
  transform-origin: left top;
  z-index: 3;
}

#bldgName {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  background-color: #ff0;
}

#bldgMap {
  max-width: 78vh;
  max-height: 60vh;
  width: 100%;
  height: auto;
  margin: 0 auto;
  /*cursor: none;*/
  z-index: 5;
}

#bldgImgContainer {
  z-index: 5;
}

.placedBldg {
  /*cursor: none;*/
  z-index: 2;
}

#bldgContainer {
  position: relative;
}
